*{
    margin:0;
    padding:0;
}
.main{
    width:100%;
    height:100vh;
    background:url("img/white.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:sans-serif;
    position:relative;

}
.navbar{
    display:flex;
    height:100px;
    width:86%;
    margin:auto;
    padding:15px 0;
    align-items:center;
    justify-content: space-between;

}
.navbar .logo{
    width:160px;
    cursor:pointer;
    margin-top:4%;
    margin-left:-2%;
    border-radius: 40%;

}
ul{
    margin-top:-4%;
    display:flex;
}
ul li{
    list-style: none;
    /* display:inline-block; */
    padding:10px 16px;
}
ul li a{
    font-size: 16px;
    font-weight:bold;
    text-decoration: none;
    color:darkslategray;
    margin-top: -3%;
    transition:.4s ease;
}
ul li a:hover{
    color:rgb(230,104,59);
}
.info{
    margin-top:6%;
    margin-left:7%;
}
.info h1{
    font-size:65px;
    color:rgb(36,32,30);
}
.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height:24px;
}
.info span{
    color:rgb(230,104,59);
}
.info h2{
    font-size: 45px;
}
.info a{
    text-decoration: none;
    color:#fff;
    background:rgb(36,32,30);
    margin:26px 0;
    padding:10px 18px;
    border-radius:10px;
    display:inline-block;
    transition:.4s ease;
}
.info a:hover{
    background:rgb(59,174,209);
}
.info blockquote {
  border-left: 4px solid #555;
  padding-left: 16px;
  margin: 16px 0;
  color: #444;
  line-height: 1.8;
}
.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

.image{
    width:30%;
    height:30%;
    position:absolute;
    bottom:-70px;
    right:100px;
    
}
.image img{
    height: 300px;
    width:400px;
    position:absolute;
    left:40%;
    bottom: 30px;
    transform:translate(-55%);
    transition:left 2s ease;
    border-radius:100%;
}
.image:hover .girl{
    left:10%;
   
}
.contactform{
    background:rgba(231, 213, 154, 0.9);
    padding:40px;
    padding-left: 50px;
    margin-top: 20px;
    border-radius:10px;
    display: flex;
    flex-direction: column;

}
.contactform input, .contactform textarea{
    width: 250px;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    border:1px solid gray;

}
.contactform textarea{
    height: 75px;

}
button{
    width:100px;
    padding:10px;
    border:none;
    border-radius:5px;
    background:rgb(36,32,30);
    color:#fff;
    font-size:16px;
    cursor:pointer;
    margin-top:10px;
    transition:.4s ease;
}
button:hover{
    background:rgb(59,174,209);
}